
rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    
    // Permite la lectura pública para la colección de productos
    match /products/{productId} {
      allow get, list: if true;
      allow create, update, delete: if request.auth != null;
    }

    // Permite la lectura pública para la configuración de imágenes del sitio
    match /siteConfig/{docId} {
      allow get, list: if true;
      allow create, update, delete: if request.auth != null;
    }

    // Permite a los usuarios leer su propio documento para verificar su rol
    match /users/{userId} {
      allow get: if request.auth != null && request.auth.uid == userId;
      allow list, create, update, delete: if request.auth != null; // Se puede restringir más si es necesario
    }

    // Regla de respaldo: denegar todo lo demás por defecto.
    // Esta regla se debe eliminar o ajustar si se añaden más colecciones.
    match /{document=**} {
      allow read, write: if false;
    }
  }
}
