@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 60 56% 95%;
    --foreground: 26 33% 20%;

    --card: 60 56% 98%;
    --card-foreground: 26 33% 20%;

    --popover: 60 56% 98%;
    --popover-foreground: 26 33% 20%;

    --primary: 25 57% 41%;
    --primary-foreground: 0 0% 98%;

    --secondary: 25 30% 92%;
    --secondary-foreground: 26 33% 20%;

    --muted: 25 25% 85%;
    --muted-foreground: 25 25% 45%;

    --accent: 147 60% 34%;
    --accent-foreground: 0 0% 98%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --border: 25 20% 80%;
    --input: 25 20% 80%;
    --ring: 25 57% 41%;

    --radius: 0.5rem;
    
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
  }
 
  .dark {
    --background: 26 33% 10%;
    --foreground: 60 56% 95%;

    --card: 26 33% 12%;
    --card-foreground: 60 56% 95%;

    --popover: 26 33% 10%;
    --popover-foreground: 60 56% 95%;

    --primary: 25 57% 51%;
    --primary-foreground: 0 0% 98%;

    --secondary: 25 30% 22%;
    --secondary-foreground: 60 56% 95%;

    --muted: 25 25% 25%;
    --muted-foreground: 25 25% 65%;

    --accent: 147 60% 44%;
    --accent-foreground: 0 0% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;

    --border: 25 20% 30%;
    --input: 25 20% 30%;
    --ring: 25 57% 51%;
  }
}
 
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
